header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;

}

.header {
    padding: 10px 0;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 28px;

    a {
        text-decoration-line: none;
        @include font16;
        color: var(--color1);
    }
}

@media (max-width:1024px) {
    
}