@import '../index.scss';
@import '../footer/footer.scss';
@import '../header/header.scss';


body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

.position {
    position: relative;

    img {
        width: 100%;
    }
}

.position-absolute {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.position-absolute-main {

    h1 {
        @include font120;
        color: var(--color2);
        margin-top: 150px;
    }
}

.position-absolute-main-reddot {
    display: flex;
    gap: 12px;
    align-items: center;

    div {
        background-color: #ba0000;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }
    span {
        display: block;
        @include font18;
        font-weight: 300;
        color: var(--color2);
        max-width: 482px;
    }
}

.position-absolute-sub {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
}

.get-in-touch {
    width: 140px;
    height: 140px;
    border: 2px solid var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 18px;
    }
    span {
        display: block;
        @include font18;
        color: var(--color2);
        padding-top: 5px;
    }
}

.get-in-touch-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.continious {
    padding: 130px 0 60px 0;
}

.continious-main {

    span {
        @include font12;
        color: var(--color3);
        display: block;
    }
}

.continious-main-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 4px solid var(--color1);

    h4 {
        @include font64;
        color: var(--color1);
    }
}

.continious-main-flex-round {
    border: 2px solid #292929;
    display: flex;
    align-items: center;
    border-radius: 999px;
    justify-content: center;
    padding: 8px 24px;
    @include font24;
}

.continious-continiousen {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 455px;
    gap: 32px;
}

.continious-continiousen-div2 {
    h6 {
        @include font18;
        color: var(--color4);
        font-weight: 700;
        margin-bottom: 16px;
    }
    p {
        @include font18;
        color: var(--color4);
        font-weight: 300;
        margin-bottom: 28px;
        line-height: 27px;
    }
}

.continious-continiousen-div1-wave {
    padding-bottom: 28px;
    border-bottom: 2px solid var(--color1);
}

.continious-continiousen2 {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 690px;
    gap: 32px;
    align-items: flex-end;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.continious-continiousen2-div2 {
    max-width: 466px;
    h6 {
        @include font18;
        color: var(--color4);
        font-weight: 700;
        margin-bottom: 16px;
    }
    p {
        @include font18;
        color: var(--color4);
        font-weight: 300;
        margin-bottom: 28px;
        line-height: 27px;
    }
}

.continious-continiousen2-div1-wave {
    padding-bottom: 28px;
    border-bottom: 2px solid var(--color1);
}


.continious-continiousen3 {
    padding-top: 40px;
}

.continious-continiousen3-div2 {
    h6 {
        @include font18;
        color: var(--color4);
        font-weight: 700;
        margin-bottom: 16px;
    }
    p {
        @include font18;
        color: var(--color4);
        font-weight: 300;
        margin-bottom: 28px;
        line-height: 27px;
        max-width: 516px;
    }
}

.continious-continiousen3-div1-wave {
    padding-bottom: 28px;
    border-bottom: 2px solid var(--color1);
    max-width: 690px;
    margin-bottom: 32px;
}

.counter {
    padding: 26px 0;
    background-color: #f8f8f8;
}

.counter-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 148px;
}

.counter-grid-div {
    text-align: right;

    h5 {
        @include font64;
        color: var(--color5);
    }
    
    p {
        @include font24;
        color: var(--color4);
    }
}